body {
.minute { width: 5px; height: 120px; background: #60a5fa; }
.second { width: 3px; height: 150px; background: #ec4899; }


.center-dot {
position: absolute;
top: 50%;
left: 50%;
width: 14px;
height: 14px;
background: #ec4899;
border-radius: 50%;
transform: translate(-50%, -50%);
}


#clickBtn, #musicBtn {
background: linear-gradient(90deg, #0ea5e9, #3b82f6);
border: none;
color: white;
font-size: 18px;
padding: 12px 24px;
border-radius: 12px;
cursor: pointer;
transition: 0.3s;
}


#clickBtn:hover, #musicBtn:hover {
transform: scale(1.05);
box-shadow: 0 0 15px #3b82f6;
}


#score { font-size: 22px; text-shadow: 0 0 10px #3b82f6; }


.phonk-wrapper {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}


.phonk-btn {
position: relative;
background: linear-gradient(90deg, #ec4899, #8b5cf6);
border: none;
color: white;
font-size: 20px;
font-weight: 600;
padding: 14px 32px;
border-radius: 50px;
cursor: pointer;
transition: 0.3s;
box-shadow: 0 0 20px #ec4899, 0 0 40px rgba(236, 72, 153, 0.5);
overflow: hidden;
}


.phonk-small {
background: linear-gradient(90deg, #9333ea, #4c1d95);
border: none;
color: white;
font-size: 20px;
border-radius: 50%;
width: 50px;
height: 50px;
cursor: pointer;
transition: 0.3s;
}


.phonk-small:hover { transform: scale(1.1); }
